/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 660px;}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

.brand {
  margin-top: 5%;
}

.brand-text {
	margin-bottom: 20%;
}
.search {
	margin-top: 10%;
}

.info-image {
  margin-top: 20%;
}
/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
  height: auto;
  padding: 15px;
}
.row.content {height: auto;} 
}