{% extends "layout.html" %}

{% block body %}
	<div class="col-sm-9">
		<div class="row info-image">
			<div class="col-sm-2">
				<a href="/table"><img src="static/images/LogoTipo1.png" class="balls"></a>
			</div>
			<div class="col-sm-2">
				<img src="static/images/LogoTipo2.png" class="balls">
			</div>
			<div class="col-sm-2">
				<img src="static/images/LogoTipo3.png" class="balls">
			</div>
			<div class="col-sm-2">
				<img src="static/images/LogoTipo4.png" class="balls">
			</div>
			<div class="col-sm-2">
				<img src="static/images/LogoTipo5.png" class="balls">
			</div>
		</div>
	</div>
{% endblock %}