<!DOCTYPE html>
<html>
  <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
    <body>
      <img src="static/images/sigaa.jpg" class="sigaa">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-3 sidenav text-center">
            <img class="brand-image" src="static/images/LogoTipoPNG.png">
            <h4 class="brand-text">LUPA</h4>
            <div class="input-group search">
              <input type="text" class="form-control" placeholder="Pesquisar">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
            <ul class="nav nav-pills nav-stacked text-center">
              <li ><a href="/">Início</a></li>
              <li><a href="/table">Projetos</a></li>
              <li><a href="#section2">Docentes</a></li>
              <li><a href="#section2">Agentes Financiadores</a></li>
              <li><a href="#section2">Tutorial</a></li>
              <li><a href="#section2">Editais</a></li>
            </ul><br>
          </div>
        {% block body %}
        {% endblock %}
        </div>
      </div>
    </body>
</html>
