<!DOCTYPE html>
<html>
  <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="table-responsive">
      <table class="table">
        <thead>
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Codigo</th>
                <th scope="col">Unidade</th>
                <th scope="col">Area de Conhecimento</th>
                <th scope="col">Vinculacao</th>
                <th scope="col">Financiado</th>
                <th scope="col">Participacao</th>
                <th scope="col">Periodo de Vigencia</th>
            </tr>
        </thead>
        <tbody>
            <tr id={{ project.id }}></tr>
                <td> {{ project.titulo }} </td>
                <td> {{ project.codigo }} </td>
                <td> {{ project.unicdade }} </td>
                <td> {{ project.area_de_conhecimento }} </td>
                <td> {{ project.vinculacao }} </td>
                <td> {{ project.financiada }} </td>
                <td> {{ project.participacao }} </td>
                <td> {{ project.periodo_de_vigencia }} </td>
            </tr>
        </tbody>
  	</table>
 	 </div>
  </body>
</html>